$color-background: #f9f9f9 !default;
$color-main: #3E4956 !default;
$color-hyper: #0066cc !default;
$color-date: #61A179 !default;
$color-gray01: #3E4956 !default;
$color-gray02: #9099a3 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;