$color-background: #27313d !default;
$color-main: #9099a3 !default;
$color-gray01: #dd4a38 !default;
$color-gray02: #9099a3 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;